.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px); /* ajustá según alto del header */
  z-index: 0;
}

.spaceapps-bg {
  background: linear-gradient(45deg, #0042A6 0%, #07173F 100%);
}

/* Popups y controles legibles */
.maplibregl-popup-content {
  background: rgba(7,23,63,.92);
  color: #fff;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 12px;
}
.maplibregl-ctrl {
  box-shadow: none;
  border-radius: 10px;
}
